/* BODY Y GENERAL */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    height: 100%;

    /* background: linear-gradient(180deg, rgba(117, 200, 204, 0.22) 0%, rgba(209, 235, 236, 0.22) 74.38%); */
    background-repeat: no-repeat;
}

a{
    list-style: none;
    color: black;
    text-decoration: none;
}

p{
    font-size: 10px;
}


/*$ HEADER */
header.header{
    width: 100vw;
    height: 100px;
    display: flex;
    background: #FFF9F8;

    position: fixed;
    top: 0px;
    z-index: 1;
}

div.header-div{
    width: 100vw;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    
    background: #FFF9F8;

    padding-left: 200px;
    padding-right: 200px;
}


/* Logotipo */

div.logo-div{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

img.logo{
    width: 100px;
    height: auto;
}

/* Secciones */

div.section-div{
    display: flex;
    justify-content: center;
}

ul.section-list{
    display: flex;
    list-style: none;

    justify-content: center;
}

li.section{
    margin-right: 40px;
    display: flex;
    justify-content: center;
}

a.section-a{
    text-decoration: none;
    color: #424242;
    
    height: 100%;

    font-size: 16px;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* CONTAINER */
div.main-container{
}

div.container{
    display: flex;
    flex-direction: row;

    width: 100vw;
    padding-top: 100px;
    background: linear-gradient(180deg, rgba(117, 200, 204, 0.22) 0%, rgba(209, 235, 236, 0.22) 74.38%);

}

/* Left Section */
div.left-section{
    width: 30%;
    padding-left: 50px;
    padding-right: 50px;
}

div.opciones{
    background: #FFF9F8;
    border-radius: 20px;
    width: 300px;

    padding: 30px;
    position: fixed;

}

div.filtros-div{
    display: flex;
    flex-direction: column;
}

h2.filtros-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    margin: 0px;

    color: #424242;
}

div.div-botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.boton{
    background: linear-gradient(90deg, #669EBD 14.53%, rgba(86, 143, 197, 0.97) 88.87%);
    border-radius: 16px;
    border: none;
    color: white;
    font-family: Poppins;
    font-weight: 600;
    margin-top: 10px;

    
    width: 100%;
    height: 40px;   
}

button.boton-secundario{
    background: linear-gradient(90deg, #BBB9B9 14.53%, rgba(177, 177, 177, 0.97) 88.87%);
}

button.boton-agregar{
    background: linear-gradient(90deg, #F07D7D 14.53%, rgba(255, 123, 123, 0.97) 88.87%);
}


select#selectDataFiltro{
    font-family: Poppins;
    margin-bottom: 10px;
    background: #FFFFFF;

    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 5px;
}

input#inputDataFiltro{
    background: #FFFFFF;

    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 5px;
}
/* Right Section */
div.right-section{
    width: 70%;
}

/* Tarjetas */

div.detallesInfo{
    display: none;
}
div.tarjetas-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 0px;
}

div.tarjetas{
    width: 200px;
    height: auto;
    padding: 16px;

    filter: drop-shadow(0px 7.6804px 19.7496px rgba(0, 0, 0, 0.05)) drop-shadow(0px 7.32677px 17.1419px rgba(0, 0, 0, 0.0298054)) drop-shadow(0px 2.51707px 19.2999px rgba(0, 0, 0, 0.0201946));


    background: #FFF9F8;
    border-radius: 22px;
    margin-bottom: 50px;
}

div.div-deleteButton{
    display: flex;
    justify-content: flex-end;
}

button.deleteButton{
    position: absolute;
    top: 30px;
    right: 30px;

    border-radius: 100%;
    width: 30px;
    height: 30px;

    font-family: 'Poppins', sans-serif;
    /* background-color: linear-gradient(90deg, #F07D7D 14.53%, rgba(255, 123, 123, 0.97) 88.87%);     */
    background-color: white;
    border: none;

    filter: drop-shadow(0px 7.6804px 19.7496px rgba(0, 0, 0, 0.05)) drop-shadow(0px 7.32677px 17.1419px rgba(0, 0, 0, 0.0298054)) drop-shadow(0px 2.51707px 19.2999px rgba(0, 0, 0, 0.0201946));

}

ul.personajes{
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

div.datos-perfil{
    text-align: center;
}

/* div.div-fotoPerfil{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
} */

img.fotoPerfil{
    height: 200px;
    width: 200px;

    border-radius: 20px;
}

li.nombre-perfil{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

li.mail-perfil{
    font-weight: 200;
    font-size: 12px;
}

li.edad-perfil{
    font-weight: 900;
}

div.div-buttons{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

/* button.button-borrar{
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    
    font-family: 'Poppins', sans-serif;
    color: white;

    background: linear-gradient(90deg, #F07D7D 14.53%, rgba(255, 123, 123, 0.97) 88.87%);    
    border-radius: 16px;
    border: none;
}

button.button-info{
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    
    font-family: 'Poppins', sans-serif;
    color: black;

    
    border-radius: 16px;
    border: none;
} */

p.p-detalleTarjeta{
    font-size: 10px;
    font-weight: 600;
    text-align: center;

    margin-top: 20px;
    color: rgba(0, 0, 0, 0.377);
}

/* FOOTER */

div.footer-div{
    width: 100vw;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    
    background: #FFF9F8;

    padding-left: 200px;
    padding-right: 200px;
}